<mat-sidenav-container fullscreen class="app-container">
  <mat-sidenav
    class="sidenav-menu"
    #sidenav
    mode="over"
    position="end"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
  >
    <router-outlet name="sidenav-outlet"></router-outlet>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary"><p class="app-heading">Hardwarekonfigurator</p></mat-toolbar>

    <div class="main-content">
      <router-outlet name="stepper-outlet"></router-outlet>

      <router-outlet name="filter-outlet"></router-outlet>

      <router-outlet name="table-outlet"></router-outlet>
    </div>

    <!--    <p>Events:</p> -->
    <!--     <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p> -->
    <!--     <div class="example-events">
    	  <div *ngFor="let e of events">{{ e }}</div>
    	</div> -->
  </mat-sidenav-content>
</mat-sidenav-container>
