<div class="stepper-container">
  <div fxLayout="row" fxLayoutAlign="start space-between">
    <div class="step-control-container" fxFlex fxLayoutAlign="start center">stepper-outlet</div>
    <div class="sidenav-control-container" fxFlex fxLayoutAlign="end center">
      <div class="sidenav-text" fxFlex fxLayoutAlign="start center">
        <span class="mat-h2" color="primary">Ihre Serverkonfiguration</span>
      </div>
      <div class="sidenav-button" (click)="toggleSidenav()" fxFlex fxLayoutAlign="center center">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </div>
    </div>
  </div>
</div>
