<div fxLayout="column">
  <span class="mat-display-4">mat-display-4</span>
  <span class="mat-display-3">mat-display-3</span>
  <span class="mat-display-2">mat-display-2</span>
  <span class="mat-display-1">mat-display-1</span>
  <span class="mat-headline">mat-headline</span>
  <span class="mat-title">mat-title</span>
  <span class="mat-h1">mat-h1</span>
  <span class="mat-h2">mat-h2</span>
  <span class="mat-h3">mat-h3</span>
  <span class="mat-h4">mat-h4</span>
  <span class="mat-body">mat-body</span>
  <span class="mat-body-strong">mat-body-strong</span>
  <span class="mat-caption">mat-caption</span>
</div>
