@import './colors';
body,
html {
  overflow: hidden !important;
  max-height: 100vh; //100% view height
  width: 100vw; // 100% view width
}
button:focus {
  outline: none;
}

.app-container {
  max-height: calc(100vh);
  overflow: none;
}

.sidenav-menu {
  width: 346px;
  height: 100%;
}

.main-content {
}

.mat-toolbar {
  height: 72px;
}

.app-heading {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.nav-button-lg {
  margin: 8px;
  width: 130px;
  height: 60px;
  font-size: 1.1rem;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  border-radius: 0;
}

.flexbox-container {
  display: flex;
}
button.sidenav-toggle {
  max-width: 40px;
  height: 100px;
}
.sidenav-text {
  max-width: 306px;
  height: 100px;
  padding-left: 16px;
  background-color: #f6f6f6;
}
.sidenav-control-container {
  border-left: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  max-width: 346px;
  height: 100%;
  background-color: #f6f6f6;
}

.sidenav-button {
  border-left: 2px solid #e5e5e5;
  max-width: 40px;
  height: 100px;
  background-color: #f6f6f6;
  cursor: pointer;
}

.mat-drawer-container {
  background-color: #fff;
}
